<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation
        </span> Menu <i class="fa fa-bars"></i>
      </button>
    </div>
    <div uib-collapse="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('/')}">
          <a href="/" ng-click="isCollapsed = !isCollapsed">Home</a>
        </li>
        <li ng-class="{ active: isActive('/portfolio')}">
          <a href="/portfolio" ng-click="isCollapsed = !isCollapsed">Portfolio</a>
        </li>
        <li ng-class="{ active: isActive('/about')}">
          <a href="/about" ng-click="isCollapsed = !isCollapsed">About</a>
        </li>
        <li ng-class="{ active: isActive('/contact')}">
          <a href="/contact" ng-click="isCollapsed = !isCollapsed">Contact</a>
        </li>
      </ul>
    </div>

    <div class="hidden-xs">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('/')}">
          <a href="/">Home</a>
        </li>
        <li ng-class="{ active: isActive('/portfolio')}">
          <a href="/portfolio">Portfolio</a>
        </li>
        <li ng-class="{ active: isActive('/about')}">
          <a href="/about">About</a>
        </li>
        <li ng-class="{ active: isActive('/contact')}">
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
