.button {
  border: 2px solid $layout-secondary;
  border-radius: 7px;
  color: $layout-secondary;
  padding: 10px;
  margin: 10px;
  transition-duration: 0.3s;
  transition-property: all;
  &:hover {
    background-color: $layout-secondary;
    color: $text-primary;
  }
}

.divider {
  width: 100%;
  display: flex;
  align-self: center;
  padding: 10px 0;
  border-bottom: 4px solid $layout-accent;
  width: 200px;

  @include medium-down {
    width: 100px;
  }
}
