@import "device-layout";
@import "colours";
@import "overrides";
@import "nav-bar";
@import "home";
@import "footer";
@import "components";
@import "contact";
@import "portfolio";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";

h2 {
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  @include medium-down {
    font-size: 34px;
  }
}

#react-content, .app {
  height: 100%;
}

.wrapper {
  min-height: 100%;
	margin-bottom: -128px;
}

.wrapper:after {
  content: "";
  display: block;
  height: 128px;
}

.content {
  padding-top: 60px;
}
