@import "colours";
@import "device-layout";
@import "nav-bar";
@import "home";
@import "footer";
@import "components";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

main {
  @include medium {
    margin: 0 40px;
  }
  @include large-up {
    margin: 0 20%;
  }
}

a {
  color: $text-primary;
  text-decoration: none;
}

p {
  margin: 0;
}

#react-content, .app {
  height: 100%;
}

.wrapper {
  min-height: 100%;
	margin-bottom: -128px;
}

.wrapper:after {
  content: "";
  display: block;
  height: 128px;
}

.content {
  padding-top: 60px;
}
